/* (c) Copyright 2008 SailPoint Technologies, Inc., All Rights Reserved. */

package sailpoint.rapidonboarding;

/**
 * This class is generated during a build and is used to hold the version
 * revisions, and build date.
 */
public class VersionConstants {

    /**
     * The version of the product.
     */
    public static final String VERSION = "@VERSION@";

    /**
     * The string that describes the full patch level of the product.
     * When not in a patch value is "" otherwise it'll be specified
     * "p" + PATCH_LEVEL.
     * (e.g. 5.2 p1)
     */
    public static final String PATCH_LEVEL = "@PATCH_LEVEL@";

    /**
     * The source code control revision of the product.
     */
    public static final String REVISION = "@REVISION@";

    /**
     * The source code control repository location of the product.
     */
    public static final String REPO_LOCATION = "@REPO_LOCATION@";

    /**
     * The user that built the product.
     */
    public static final String BUILDER = "@BUILDER@";

    /**
     * The build data and time of the product.
     */
    public static final String BUILDTIME = "@BUILDTIME@";

    /**
     * The host where the product was built.
     */
    public static final String BUILDHOST = "@BUILDHOST@";

    /**
     * This class does not need to be instantiated.
     */
    private VersionConstants() { }


}  // class VersionConstants
